.aa-Form {
  position: relative;
}

.aa-Label {
  align-items: center;
  color: #777;
  cursor: initial;
  display: flex;
  height: 100%;
  padding: 0 0.5rem;
  position: absolute;
  z-index: 2;
}

.aa-InputWrapper {
  background-color: #fff;
  max-width: 100%;
  min-height: 2.5rem;
  position: relative;
  width: 100%;
}

.aa-Input {
  appearance: none;
  background: none;
  border: 1px solid #d6d6e7;
  border-radius: 3px;
  box-shadow: rgba(119, 122, 175, 0.3) 0 1px 4px 0 inset;
  caret-color: #5a5e9a;
  color: #23263b;
  font: inherit;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.aa-Input::-webkit-search-decoration,
.aa-Input::-webkit-search-cancel-button,
.aa-Input::-webkit-search-results-button,
.aa-Input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.aa-Completion {
  color: #999;
  left: 1px;
  position: absolute;
  transform: translateY(50%);
  z-index: 1;
}

.aa-Input,
.aa-Completion {
  padding: 0 2.25rem;
}

.aa-Input::placeholder {
  color: #5a5e9a;
}

.aa-Input:focus {
  border-color: #3c4fe0;
  box-shadow: rgba(35, 38, 59, 0.05) 0 1px 0 0;
  outline: currentcolor none medium;
}

.aa-ResetButton {
  background: none;
  border: 0;
  cursor: pointer;
  height: 100%;
  padding: 0 0.5rem;
  position: absolute;
  right: 0;
  z-index: 2;
}

.aa-ListContainer {
  background-color: #fff;
  border: 1px solid rgba(150, 150, 150, 0.16);
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(35, 38, 59, 0.05),
    0 8px 16px -4px rgba(35, 38, 59, 0.25);
  margin-top: 5px;
  max-width: 480px;
  position: absolute;
  width: 100%;
}

.aa-ListContainer--stalled {
  filter: grayscale(1);
  opacity: 0.5;
  transition: opacity 200ms ease-in;
}

.aa-ListContainer a {
  color: inherit;
  text-decoration: none;
}

.aa-ListContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.aa-ListItem {
  color: #23263b;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.aa-ListItem mark {
  background: none;
  font-style: normal;
  font-weight: bold;
}

.aa-ListItem[aria-selected='true'] {
  background-color: #f5f5fa;
}
