.cache
.parcel-cache
build
coverage
dist
node_modules
examples/twitter-compose-with-typeahead
examples/slack-with-emojis-and-commands
examples/react-instantsearch
examples/vue-instantsearch
examples/react
