language: node_js
branches:
  only:
    - master
    - develop
env:
  matrix:
  - TEST_SUITE=unit
  - TEST_SUITE=integration BROWSER='firefox'
  - TEST_SUITE=integration BROWSER='safari:6'
  - TEST_SUITE=integration BROWSER='safari:7'
  - TEST_SUITE=integration BROWSER='safari:8'
  - TEST_SUITE=integration BROWSER='internet explorer:9'
  - TEST_SUITE=integration BROWSER='internet explorer:10'
  - TEST_SUITE=integration BROWSER='internet explorer:11'
  - TEST_SUITE=integration BROWSER='chrome'
  global:
  - secure: wuQpdVaYsj4JGZcYGPPMa6GQHA6RFCEDm1F9IOTOJLAPo9XS3+gcwU3uFqZONf9+f/l7LrF0tpsl1BTDiAQJkig1Z851mPNj0XaMWnBL+2cyfJPzAYBIj18A7xKnyvRWXKtTeDo5l6DKYiA86VQmZSQWulUVYzr7qeIWvONLqrqLpW2Gl910khy2sDO6LJSHqTvXcEwRtL6sIf0O93wxIwGuZM1EBAmZsorvZYSH3wILhT98Jj458OMxm8u2CgoFjjI62tNAksRGJ8E6iDNJOHyGPFxAQhGoqAQWBspHCQWt9aOFGNweig+ReulE9g0Oqfpy2YeE6XYb3rZyUjgDFSBWj4fnwUDqBInn30s4t4tmd0LLrc9VbMg/BkdoPlMMl+FAo/g/82tkAkIoFPfx/ZAlQ3zcVs3L3hPkh3597RWoXLdNIuRqquxaFGadumLRVUZElreMCEQUbk1mOEkbLf/tgW60ZUL9fJbl0qJK0uPXFX/sufxYVC1YfuRX3RpUL1bME8KyhW+zXTkz+x6AqosQYcsdXAzU4VWVJc5fyYjb8rSNMyWkmx+2T4w/DX6nF9ii6ybKm5sN3Z4LBB5ih73/MlKQLxqZTBKYJ5V8MdkTq2raW9nUB+WARd+UOBbmPnsYU3wqW+rXPgwiaVIj6ew6QsCgjQsLWswYwRb6oN8=
  - secure: OluVlPpTgaAr1O/dzRvgBBk0M3w8uu1G3wRq9b3AdcldKuLf0kUoCrlh9cyBmowj+JgrfZ1DAyOFKwcyQAhb/HN+ha7BwRf4PNkb2/n5vlDeY7tE9ULuS9ROXIhrskVYUUh391ghQvbw45M7rrUyyJyo+B6Kv4RrwQObcpv9D/M81JRx4QfAAgrNNsCFTwjaf0DFMnmTXyXKIBusqa2DJxb7xslw1Kcu+qEYNWNB8wPoV9O3LOyfPIL5zt6j1HgUim998QBDNaI2rispH2lSPh6vKbomMlfDEDFCVHTmdKqbIb1TC/1/HlHiL5Kgesysev3QtfFjprTYwFZHXwElSrGYeFB+br11RQvOd8L7TCrGIdhGlBQLA6sISiohNrpZ6yGvsA+8JmMMsdOOO+wkHgQkWpzyFFdt+/Ek8+WeP04TsYAh1EPS3FGFeC/1ZqaazYITUaaNXaBqIp3Em07RB1eqyiu7KuO2wY74K3Y4fIAX3l6Od/E+DnUZhrUwwxZ+MnUx+SSZ4oGg4hL8OBrG0f/gaRwOWx/ieqyrcvzIpXYecKrxpYGzsM1NsbVzBiSsCSIt3lYbVxVVJiEjRLKb8L0QVvj4K4yfyQAAjWhcmz+MyCDLnFroaCmmohPF/gorsiaqEuiqTqXyFOAiMsEjZK513UMvPXK4lWWRt3a1/PI=
  - secure: IDIoTyLjgu8yxGhvx2xCgdZWkLB900LnseELvetSm2RtbgQrpWd8yOh33JOK1ZQpiZcfJDWP6abuNmep7bR5p0KJLM8masMVHUiKbCJ1aF/79+poFObV+r4ibUjJn6bDKmn5ryaLeVTKHZMymUN2TUkkbF8OjKNU6LcDkoBRIm96YvAw4VRzFLS2HNlUOsD0eztQrxHi1YA8aEAHT0xcIe0o95qz9380UHKCKRMAkxav615R+3nYYPbTdYbk8/KHmaWWBLe1J8gN8fBFRQWsrWfcafhoVcNNePRKbppmBevxLOwe5qnK1OUlzSl1B0SriGtZdxfZTO3S3fJc90pHkPkHVOVcU7jjmte38uOQGbkgBA5j1c30dGcTocgHTGtQmFmXcn/t39hA6dGZk+Pu454Q5Owkg40cQQ6bMDgsO0VwbCE4RxCGE/2xcQeI+wE1wgSvGcFNprdUu7mLBWJePr+aBPUTQZWmGmwtkaSAZvpyq7ugZ4s/t1w53K6jG7MstYsjSINLo1qpB4IkMpganqAWuTzLwSCI5Nmx4EMX2kwt+IEJL3urJFjHjowqqeoFwqTGS4iegIGj0RMWI2XcMHPBThylJD0A5ig7jirS0IPktgF7q9wZg5flqRgugu2e2AywDNSfBNXE6iffl5dRimh4uIg/0URAQAk8TpKhlt4=
node_js: stable
before_script:
- yarn build
script: yarn test:ci
cache: yarn
addons:
  sauce_connect: true
