// ----------------
// Variables
// ----------------
:root {
  --aa-base-unit: 16;
  --aa-font-size: calc(var(--aa-base-unit) * 1px);
  --aa-spacing-factor: 1; // xs:0.6 / sm:0.8 / md:1 / lg:1.2 / xl:1.5
  --aa-spacing: calc(var(--aa-base-unit) * var(--aa-spacing-factor) * 1px);
  --aa-spacing-half: calc(var(--aa-spacing) / 2);
  --aa-icon-size: 18px;
  --aa-icon-stroke-width: calc((20 / var(--aa-base-unit)) * 1.6);
  --aa-primary-color: rgb(62, 52, 211);
  --aa-muted-color: rgba(128, 126, 163, 0.6);
  --aa-selected-color: rgba(62, 52, 211, 0.1);
  --aa-icon-color: rgb(119, 119, 163);
  --aa-text-color: rgb(38, 38, 39);
  --aa-content-text-color: rgb(38, 38, 39, 0.7);
  --aa-background-color: rgb(255, 255, 255);
  --aa-background-color-alpha-0: rgba(255, 255, 255, 0);
  --aa-panel-shadow: 0 0 0 1px rgba(35, 38, 59, 0.1),
    0 6px 16px -4px rgba(35, 38, 59, 0.15);
  --aa-panel-max-height: 500px;
  --aa-detached-media-query: (max-width: 500px);
}

// ----------------
// Darkmode
// ----------------
body {
  /* stylelint-disable selector-no-qualifying-type, selector-class-pattern */
  &[data-theme='dark'],
  &.dark {
    --aa-primary-color: rgb(93, 85, 213);
    --aa-muted-color: rgba(93, 85, 213, 0.6);
    --aa-selected-color: rgba(93, 85, 213, 0.25);
    --aa-icon-color: rgb(119, 119, 163);
    --aa-text-color: rgb(183, 192, 199);
    --aa-content-text-color: rgb(183, 192, 199, 0.8);
    --aa-background-color: rgb(21, 24, 42);
    --aa-panel-shadow: inset 1px 1px 0 0 rgb(44, 46, 64),
      0 3px 8px 0 rgb(0, 3, 9);
  }
  /* stylelint-enable selector-no-qualifying-type, selector-class-pattern */
}

// ----------------
// Autocomplete
// ----------------
.aa-Autocomplete,
.aa-DetachedFormContainer {
  font-size: var(--aa-font-size);
  line-height: 1em;
  text-align: left;
  // reset
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  // searchbox
  .aa-Form {
    align-items: center;
    background-color: var(--aa-background-color);
    border: 1px solid var(--aa-muted-color);
    border-radius: 3px;
    display: flex;
    padding: 0 var(--aa-spacing) 0 var(--aa-spacing-half);
    position: relative;
    width: 100%;
    &:focus-within {
      border-color: var(--aa-primary-color);
      box-shadow: var(--aa-selected-color) 0 0 0 3px,
        inset var(--aa-selected-color) 0 0 0 2px;
      outline: currentColor none medium;
    }
    .aa-InputWrapperPrefix {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      flex-wrap: none;
      order: 1;
      padding-right: var(--aa-spacing-half);
      // container for search and loading icons
      .aa-Label,
      .aa-LoadingIndicator {
        cursor: initial;
        flex-shrink: 0;
        text-align: center;
        width: calc(var(--aa-spacing) + var(--aa-icon-size));
        button {
          appearance: none;
          background: none;
          border: 0;
        }
        svg {
          color: var(--aa-primary-color);
          left: 2px;
          position: relative;
          stroke-width: var(--aa-icon-stroke-width);
          width: 20px;
        }
      }
    }
    .aa-InputWrapper {
      order: 3;
      position: relative;
      width: 100%;
      // input of the searchbox, where the placeholder and query appear
      .aa-Input {
        appearance: none;
        background: none;
        border: 0;
        color: var(--aa-text-color);
        font: inherit;
        height: calc(var(--aa-spacing) * 2.5);
        width: 100%;
        // remove native appearence
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
          appearance: none;
        }
        &::placeholder {
          color: var(--aa-muted-color);
          opacity: 1;
        }
        // remove focus effect as we moved it to parent wrapper
        &:focus {
          border-color: none;
          box-shadow: none;
          outline: none;
        }
      }
    }
    .aa-InputWrapperSuffix {
      align-items: center;
      display: flex;
      order: 4;
      // accelerator to clear the query
      .aa-ResetButton {
        align-items: center;
        background: none;
        border: 0;
        color: var(--aa-muted-color);
        cursor: pointer;
        display: flex;
        &[hidden] {
          display: none;
        }
        &:hover,
        &:focus {
          color: var(--aa-text-color);
        }
        svg {
          stroke-width: var(--aa-icon-stroke-width);
          width: var(--aa-icon-size);
        }
      }
    }
  }
}

// ----------------
// Panel
// ----------------

.aa-Panel {
  position: absolute;
  // reset
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  button {
    appearance: none;
    background: none;
    border: 0;
  }

  &::after {
    background-image: linear-gradient(
      var(--aa-background-color-alpha-0),
      var(--aa-background-color)
    );
    border-radius: 3px;
    bottom: 0;
    content: '';
    height: 0.75em;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 99;
  }
  .aa-PanelLayout {
    background-color: var(--aa-background-color);
    border-radius: 3px;
    box-shadow: var(--aa-panel-shadow);
    height: 100%;
    margin-top: var(--aa-spacing-half);
    max-height: var(--aa-panel-max-height);
    overflow-y: auto;
    padding-bottom: var(--aa-spacing-half);
    padding-top: var(--aa-spacing-half);
    position: relative;
    text-align: left;

    .aa-PanelLayoutResults {
      overflow-x: hidden;
      overflow-y: auto;
      width: 50%;
    }
    .aa-PanelLayoutPreview {
      border-left: solid 1px var(--aa-selected-color);
      flex-shrink: 1;
      max-width: 50%;
      overflow: hidden;
    }
  }

  // when a query isn't resolved yet
  &.aa-Panel--stalled {
    filter: grayscale(1);
    opacity: 0.8;
    @media screen and (prefers-reduced-motion: reduce) {
      transition: opacity 200ms ease-in;
    }
  }
}

// ----------------
// Sources
// Each source can be styled independently
// ----------------
.aa-Source {
  position: relative;
  width: 100%;
  // source title
  .aa-SourceHeader {
    line-height: var(--aa-spacing);
    margin: var(--aa-spacing-half) calc(var(--aa-spacing-half) + 2px);
    position: relative;
    // Title typography
    .aa-SourceHeaderTitle {
      background: var(--aa-background-color);
      color: var(--aa-primary-color);
      display: inline-block;
      font-size: 0.8em;
      font-weight: 600;
      padding-right: var(--aa-spacing-half);
      position: relative;
      text-transform: capitalize;
      z-index: 2;
    }
    // Line separator
    .aa-SourceHeaderLine {
      border-bottom: solid 1px var(--aa-primary-color);
      display: block;
      height: 2px;
      left: 0;
      opacity: 0.3;
      position: absolute;
      right: 0;
      top: var(--aa-spacing-half);
      z-index: 1;
    }
    // hide empty header
    &:empty {
      display: none;
    }
  }
  &:empty {
    // hide empty section
    display: none;
  }
  // list of results inside the source
  .aa-List {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
}

// ----------------
// Hit Layout
// ----------------
.aa-Item {
  align-items: center;
  color: var(--aa-text-color);
  cursor: pointer;
  display: flex;
  //height: 100%;
  line-height: 1.1em;
  padding: 0 var(--aa-spacing-half);
  .aa-ActiveOnly {
    visibility: hidden;
  }
  // when the result is active
  &[aria-selected='true'] {
    background-color: var(--aa-selected-color);
    .aa-ItemActionButton,
    .aa-ActiveOnly {
      visibility: visible;
    }
  }
  // wrap hit with url but we don't need to see it
  .aa-ItemWrapper,
  .aa-ItemLink {
    align-items: center;
    color: inherit;
    display: flex;
    text-decoration: none;
    width: 100%;
  }
  .aa-ItemLink {
    color: inherit;
    text-decoration: none;
  }
  // the result type icon inlined svg or img
  .aa-ItemIcon {
    align-items: center;
    align-self: flex-start;
    background: #fff;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px var(--aa-selected-color);
    color: var(--aa-icon-color);
    display: flex;
    flex-shrink: 0;
    font-size: var(--aa-icon-size);
    height: calc(var(--aa-icon-size) + var(--aa-spacing));
    justify-content: center;
    margin: 2px var(--aa-spacing-half) 2px 2px;
    stroke-width: var(--aa-icon-stroke-width);
    text-align: center;
    width: calc(var(--aa-icon-size) + var(--aa-spacing));
    &.aa-ItemIcon--no-border {
      background: none;
      box-shadow: none;
      margin: 0 var(--aa-spacing-half) 0 2px;
    }
    img {
      height: calc(var(--aa-icon-size) + var(--aa-spacing) - 8px);
      width: calc(var(--aa-icon-size) + var(--aa-spacing) - 8px);
    }
    svg {
      height: var(--aa-icon-size);
      width: var(--aa-icon-size);
    }
  }
  .aa-ItemContent {
    color: var(--aa-text-color);
    cursor: pointer;
    flex-shrink: 1;
    overflow: hidden;
    padding: calc(var(--aa-spacing) / 4) 0;
    width: 100%;
    mark {
      background: none;
      color: var(--aa-text-color);
      font-style: normal;
      font-weight: bold;
    }
    .aa-ItemContentTitle {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .aa-ItemContentSubtitle {
      color: var(--aa-muted-color);
      display: inline-block;
      font-size: 0.75em;
      margin-top: -2px;
      max-width: 100%;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:empty {
        display: none;
      }
      .aa-ItemContentDash {
        color: var(--aa-muted-color);
        display: none;
        opacity: 0.4;
      }
      .aa-ItemContentTag {
        background-color: var(--aa-selected-color);
        border-radius: 3px;
        margin-right: 0.4em;
        padding: 0.08em 0.3em;
      }
    }
    &.aa-ItemContent--dual {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      .aa-ItemContentTitle,
      .aa-ItemContentSubtitle {
        display: block;
      }
    }
    .aa-ItemContentDescription {
      color: var(--aa-content-text-color);
      font-size: 0.85em;
      max-width: 100%;
      overflow-x: hidden;
      padding: 0.3em 0;
      text-overflow: ellipsis;
      mark {
        background: rgb(245 223 77 / 0.5);
        color: var(--aa-text-color);
        font-style: normal;
        font-weight: 500;
      }
      &:empty {
        display: none;
      }
    }
  }
  // secondary click action
  .aa-ItemActions {
    display: flex;
  }
  .aa-ItemActionButton {
    align-items: center;
    background: none;
    border: 0;
    color: var(--aa-muted-color);
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    &:hover svg,
    &:focus svg {
      color: var(--aa-text-color);
    }
    svg {
      color: var(--aa-muted-color);
      margin: 0 var(--aa-spacing-half);
      stroke-width: var(--aa-icon-stroke-width);
      width: var(--aa-icon-size);
      &:hover,
      &:focus {
        color: var(--aa-text-color);
      }
    }
  }
}

//----------------
// Detached
//----------------
.aa-DetachedSearchButton {
  align-items: center;
  background-color: var(--aa-background-color);
  border: 1px solid var(--aa-muted-color);
  border-radius: 3px;
  color: var(--aa-muted-color);
  cursor: pointer;
  display: flex;
  font: inherit;
  height: calc(var(--aa-spacing) * 2.5);
  padding: 0 var(--aa-spacing-half);
  position: relative;
  text-align: left;
  .aa-DetachedSearchButtonIcon {
    align-items: center;
    color: var(--aa-icon-color);
    cursor: initial;
    display: flex;
    height: 100%;
    margin-right: var(--aa-spacing-half);
  }
}

.aa-DetachedOverlay {
  background: var(--aa-background-color);
  bottom: 0;
  left: 0;
  padding: var(--aa-spacing-half) 0 var(--aa-spacing-half)
    var(--aa-spacing-half);
  position: fixed;
  right: 0;
  top: 0;
  .aa-DetachedFormContainer {
    border-bottom: solid 1px var(--aa-selected-color);
    display: flex;
    justify-content: space-between;
    margin-right: var(--aa-spacing-half);
    padding-bottom: var(--aa-spacing-half);
    .aa-Form {
      padding: 0 var(--aa-spacing-half) 0 0;
    }
    .aa-DetachedCancelButton {
      background: none;
      border: 0;
      color: inherit;
      cursor: pointer;
      font: inherit;
      padding: 0 0 0 var(--aa-spacing-half);
    }
  }
  .aa-Panel {
    background-color: var(--aa-background-color);
    height: 100vh; // TODO: compute with js
    left: var(--aa-spacing-half);
    overflow-y: auto;
    padding-bottom: var(--aa-spacing);
    padding-right: var(--aa-spacing-half);
    padding-top: var(--aa-spacing-half);
    right: 0;
    .aa-PanelLayout {
      box-shadow: none;
      margin: 0;
      max-height: none;
      padding: 0;
    }
    .aa-Item {
      border-radius: 3px;
      padding: 0;
    }
    .aa-SourceHeader {
      margin: var(--aa-spacing-half) 0 var(--aa-spacing-half) 2px;
    }
  }
  &::after {
    height: 32px;
  }
}

// remove scroll for body
.aa-Detached {
  height: 100vh;
  overflow: hidden;
}

@media (hover: none) and (pointer: coarse) {
  .aa-TouchOnly {
    display: none !important; // TODO: fix specificity issue
  }
}
