* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f9;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

/* Blurhash */
.aa-BlurhashCanvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

/* Panel section */
.aa-PanelSections {
  column-gap: var(--aa-spacing-half);
  display: flex;
}

.aa-PanelSection--left {
  display: flex;
  flex-direction: column;
  row-gap: var(--aa-spacing);
  width: 30%;
}

.aa-PanelSection--left .aa-Item {
  padding: 0;
}

.aa-PanelSection--left .aa-ItemWrapper {
  height: 100%;
  padding: calc(var(--aa-spacing-half) / 2);
}

.aa-PanelSection--right {
  display: flex;
  flex-direction: column;
  row-gap: var(--aa-spacing);
  width: 70%;
}

/* Item */
.aa-Item {
  transition: background 0.2s ease-out;
}

.aa-Item:hover .aa-ItemPicture img {
  transform: scale(1.1);
}

.aa-ItemPicture {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.aa-ItemPicture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 1.8s ease-out, opacity 0.2s ease-out;
  transform-origin: center;
  position: relative;
}

/* Products */
.aa-PanelSection--products {
  transition: background 0.2s ease-out;
}

.aa-PanelSection--products-preview {
  background: rgba(
    var(--aa-selected-color-rgb),
    var(--aa-selected-color-alpha)
  );
  border-radius: 3px;
}

.aa-PanelSection--products .aa-List {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--aa-spacing);
}

.aa-PanelSection--products .aa-Item {
  align-items: flex-start;
  width: 100%;
}

.aa-PanelSection--products .aa-Item:hover .aa-ItemFavorite {
  opacity: 1;
}

.aa-ProductItem {
  height: 100%;
  min-height: 380px;
}

.aa-ProductItem.aa-ItemLink {
  align-items: flex-start;
  justify-content: stretch;
}

.aa-ProductItem .aa-ItemPicture {
  position: relative;
  height: 100%;
}

.aa-ProductItem .aa-ItemPicture img {
  opacity: 0;
}

.aa-ProductItem .aa-ItemPicture--loaded img {
  opacity: 1;
}

.aa-ProductItem .aa-ItemContentBody {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  min-height: 112px;
}

.aa-ProductItem .aa-ItemPicture--blurred {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--aa-muted-color-rgb), 0.2);
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: loading;
  animation-timing-function: linear;
}

.aa-ProductItem .aa-ItemContent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.aa-ProductItem .aa-ItemContentBrand {
  font-size: 0.7em;
  text-transform: uppercase;
  color: rgb(var(--aa-muted-color-rgb));
}

.aa-ProductItem .aa-ItemContentTitle {
  white-space: normal;
  font-size: 0.9em;
  margin: 0;
}

.aa-ProductItem .aa-ItemContentPriceCurrent {
  font-weight: bold;
}

.aa-ProductItem .aa-ItemContentPriceDiscounted {
  font-size: 0.9em;
  text-decoration: line-through;
  color: rgb(var(--aa-muted-color-rgb));
}

.aa-ProductItem .aa-ItemContentPrice {
  display: flex;
  column-gap: var(--aa-spacing-half);
}

.aa-ProductItem .aa-ItemContentRating ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.aa-ProductItem .aa-ItemContentRating {
  display: flex;
  align-items: center;
  column-gap: calc(var(--aa-spacing-half) / 2);
  margin-top: var(--aa-spacing-half);
}

.aa-ProductItem .aa-StarIcon {
  width: 1.3em;
  height: 1.3em;
  color: #fdbc72;
}

.aa-ProductItem .aa-StarIcon--muted {
  color: #d6d6e6;
}

.aa-ProductItem .aa-ItemContentRatingReviews {
  font-size: 0.7em;
  color: #908eae;
}

.aa-ProductItem .aa-ItemFavorite {
  z-index: 5;
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(35, 38, 59, 0.15);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.aa-ProductItem .aa-FavoriteIcon {
  --aa-icon-size: 18px;
  color: rgb(var(--aa-primary-color-rgb));
  stroke-width: 2;
  stroke: currentColor;
  margin: 1px;
}

.aa-ProductItem .aa-FavoriteIcon--outlined {
  fill: none;
}

/* Media queries */
@media screen and (prefers-reduced-motion: reduce) {
  .aa-Item,
  .aa-PanelSection--products,
  .aa-ProductItem .aa-ItemPictureBlurred,
  .aa-ProductItem .aa-ItemFavorite {
    transition: none;
  }
}

@media screen and (max-width: 680px) {
  /* Common */
  .aa-SourceHeader {
    display: none;
  }

  /* Panel section */
  .aa-PanelSections {
    flex-direction: column;
    row-gap: var(--aa-spacing);
  }

  .aa-PanelSection--left,
  .aa-PanelSection--right {
    width: 100%;
  }

  /* Products */
  .aa-PanelSection--products .aa-List {
    display: flex;
    flex-wrap: wrap;
    gap: var(--aa-spacing-half);
  }

  .aa-PanelSection--products .aa-Item {
    width: calc(50% - var(--aa-spacing-half) / 2);
  }

  .aa-ProductItem .aa-ItemFavorite {
    opacity: 1;
  }
}

/* Keyframes */
@keyframes loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
