* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f9;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

/* Blurhash */
.aa-BlurhashCanvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

/* Panel section */
.aa-PanelSections {
  column-gap: var(--aa-spacing-half);
  display: flex;
}

.aa-PanelSection--left {
  display: flex;
  flex-direction: column;
  row-gap: var(--aa-spacing);
  width: 30%;
}

.aa-PanelSection--left .aa-Item {
  padding: 0;
}

.aa-PanelSection--left .aa-ItemWrapper {
  height: 100%;
  padding: calc(var(--aa-spacing-half) / 2);
}

.aa-PanelSection--right {
  display: flex;
  flex-direction: column;
  row-gap: var(--aa-spacing);
  width: 70%;
}

/* Add padding on each source for the smart preview background color on products */
.aa-PanelSection--right > * {
  padding: 0 var(--aa-spacing-half);
}

/* Item */
.aa-Item {
  transition: background 0.2s ease-out;
}

.aa-Item[data-active='true'] {
  background-color: rgba(
    var(--aa-selected-color-rgb),
    var(--aa-selected-color-alpha)
  );
}

.aa-Item:hover .aa-ItemPicture img {
  transform: scale(1.1);
}

.aa-ItemPicture {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.aa-ItemPicture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 1.8s ease-out, opacity 0.2s ease-out;
  transform-origin: center;
  position: relative;
}

/* Category and FAQ */
.aa-ItemWrapper.aa-CategoryItem,
.aa-ItemWrapper.aa-FaqItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.aa-CategoryItem .aa-Breadcrumb,
.aa-FaqItem .aa-Breadcrumb {
  margin-left: calc(var(--aa-icon-size) + var(--aa-spacing));
}

/* Breacrumb */
.aa-Breadcrumb {
  color: rgb(var(--aa-muted-color-rgb));
  display: flex;
  align-items: center;
  font-size: 0.8em;
  text-transform: capitalize;
}

.aa-Breadcrumb .aa-ItemIcon {
  width: var(--aa-icon-size);
  height: var(--aa-icon-size);
}

.aa-Breadcrumb .aa-ItemIcon svg {
  width: calc(var(--aa-icon-size) * 0.6);
  height: calc(var(--aa-icon-size) * 0.6);
}

/* Products */
.aa-PanelSection--products,
.aa-PanelSection--products .aa-SourceHeaderTitle {
  transition: background 0.2s ease-out;
}

.aa-PanelSection--products {
  padding-bottom: var(--aa-spacing-half);
}

.aa-PanelSection--products-preview {
  background: rgba(
    var(--aa-selected-color-rgb),
    var(--aa-selected-color-alpha)
  );
  border-radius: 3px;
}

.aa-PanelSection--products-preview .aa-SourceHeaderTitle {
  background: #efeef6;
}

.aa-PanelSection--products .aa-List {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--aa-spacing);
}

.aa-PanelSection--products .aa-Item {
  align-items: flex-start;
  width: 100%;
}

.aa-PanelSection--products .aa-Item:hover .aa-ItemFavorite {
  opacity: 1;
}

.aa-ProductItem {
  height: 100%;
  min-height: 380px;
}

.aa-ProductItem.aa-ItemLink {
  align-items: flex-start;
  justify-content: stretch;
}

.aa-ProductItem .aa-ItemPicture {
  position: relative;
  height: 100%;
}

.aa-ProductItem .aa-ItemPicture img {
  opacity: 0;
}

.aa-ProductItem .aa-ItemPicture--loaded img {
  opacity: 1;
}

.aa-ProductItem .aa-ItemContentBody {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  min-height: 112px;
}

.aa-ProductItem .aa-ItemPicture--blurred {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--aa-muted-color-rgb), 0.2);
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: loading;
  animation-timing-function: linear;
}

.aa-ProductItem .aa-ItemContent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.aa-ProductItem .aa-ItemContentBrand {
  font-size: 0.7em;
  text-transform: uppercase;
  color: rgb(var(--aa-muted-color-rgb));
}

.aa-ProductItem .aa-ItemContentTitle {
  white-space: normal;
  font-size: 0.9em;
  margin: 0;
}

.aa-ProductItem .aa-ItemContentPriceCurrent {
  font-weight: bold;
}

.aa-ProductItem .aa-ItemContentPriceDiscounted {
  font-size: 0.9em;
  text-decoration: line-through;
  color: rgb(var(--aa-muted-color-rgb));
}

.aa-ProductItem .aa-ItemContentPrice {
  display: flex;
  column-gap: var(--aa-spacing-half);
}

.aa-ProductItem .aa-ItemContentRating ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.aa-ProductItem .aa-ItemContentRating {
  display: flex;
  align-items: center;
  column-gap: calc(var(--aa-spacing-half) / 2);
  margin-top: var(--aa-spacing-half);
}

.aa-ProductItem .aa-StarIcon {
  width: 1.3em;
  height: 1.3em;
  color: #fdbc72;
}

.aa-ProductItem .aa-StarIcon--muted {
  color: #d6d6e6;
}

.aa-ProductItem .aa-ItemContentRatingReviews {
  font-size: 0.7em;
  color: #908eae;
}

.aa-ProductItem .aa-ItemFavorite {
  z-index: 5;
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(35, 38, 59, 0.15);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.aa-ProductItem .aa-FavoriteIcon {
  --aa-icon-size: 18px;
  color: rgb(var(--aa-primary-color-rgb));
  stroke-width: 2;
  stroke: currentColor;
  margin: 1px;
}

.aa-ProductItem .aa-FavoriteIcon--outlined {
  fill: none;
}

/* Articles */
.aa-PanelSection--articles .aa-List {
  display: flex;
  column-gap: calc(var(--aa-spacing) / 10);
  margin-bottom: calc((var(--aa-spacing-half) / 2) * -1);
  margin-left: calc((var(--aa-spacing-half) / 2) * -1);
  margin-right: calc((var(--aa-spacing-half) / 2) * -1);
}

.aa-PanelSection--articles .aa-Item {
  width: 50%;
}

.aa-ArticleItem {
  box-shadow: inset 0 0 0 1px
    rgba(var(--aa-panel-border-color-rgb), var(--aa-panel-border-color-alpha));
  border-radius: 3px;
  padding: var(--aa-spacing-half);
  height: 100%;
}

.aa-ArticleItem .aa-ItemContent {
  height: 100%;
}

.aa-ArticleItem .aa-ItemPicture {
  width: 60px;
  height: 60px;
}

.aa-ArticleItem .aa-ItemPicture img {
  height: 100%;
}

.aa-ArticleItem .aa-ItemContentTitle {
  font-size: 0.9em;
  font-weight: bold;
  white-space: normal;
}

.aa-ArticleItem .aa-ItemContentDate {
  color: rgb(var(--aa-muted-color-rgb));
  font-size: 0.8em;
}

/* Popular */
.aa-PanelSection--popular .aa-List {
  display: flex;
  flex-wrap: wrap;
  gap: var(--aa-spacing-half);
}

.aa-PanelSection--popular .aa-ItemContentTitle {
  margin: 0;
}

.aa-PanelSection--popular .aa-ItemWrapper {
  grid-gap: var(--aa-spacing-half);
}

.aa-PanelSection--popular .aa-Item {
  background-color: rgba(var(--aa-muted-color-rgb), 0.08);
  padding: var(--aa-spacing-half);
  font-size: 0.9em;
}

.aa-PanelSection--popular .aa-ItemIcon {
  width: var(--aa-spacing);
  height: var(--aa-spacing);
}

/* Quick access */
.aa-PanelSection--quickAccess .aa-List {
  display: flex;
  column-gap: var(--aa-spacing-half);
  align-items: stretch;
}

.aa-PanelSection--quickAccess .aa-Item {
  width: 100%;
}

.aa-PanelSection--quickAccess .aa-QuickAccessItem {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  height: 100%;
}

.aa-QuickAccessItem .aa-ItemPicture:after {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.aa-QuickAccessItem .aa-ItemContent {
  position: relative;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aa-QuickAccessItem .aa-ItemContentTitle {
  margin: 0;
}

.aa-QuickAccessItem .aa-ItemContentBody {
  padding: var(--aa-spacing);
  width: 100%;
}

/* --- Sales banner template */
.aa-QuickAccessItem--sales-banner .aa-ItemContentBody {
  width: 100%;
  background-color: #f78125;
  bottom: 0;
  text-align: center;
  position: absolute;
}

.aa-QuickAccessItem--sales-banner .aa-ItemContentTitle {
  font-weight: bold;
}

/* --- Sale code template */
.aa-QuickAccessItem--sales-code .aa-ItemContentBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
}

.aa-QuickAccessItem--sales-code .aa-ItemContentTitle {
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: bold;
}

/* --- New collection template */
.aa-QuickAccessItem--new-collection .aa-ItemContentBody {
  position: absolute;
}

.aa-QuickAccessItem--new-collection .aa-ItemContent {
  text-transform: uppercase;
}

.aa-QuickAccessItem--new-collection .aa-ItemContentTitle {
  font-weight: bold;
  margin-bottom: var(--aa-spacing-half);
}

/* --- Help template */
.aa-QuickAccessItem.aa-QuickAccessItem--help {
  background-color: #f78125;
}

.aa-QuickAccessItem--help .aa-ItemContent {
  align-items: flex-start;
}

.aa-QuickAccessItem--help .aa-ItemContentTitle {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.3em;
}

.aa-QuickAccessItem--help ul {
  list-style: none;
  padding: 0;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  row-gap: var(--aa-spacing-half);
  margin-top: var(--aa-spacing);
}

.aa-QuickAccessItem--help a {
  color: #fff;
  transition: opacity 0.2s ease-out;
}

.aa-QuickAccessItem--help a:hover {
  opacity: 0.6;
}

/* Faq preview */
.aa-FaqPreview,
.aa-FaqPreview .aa-ItemContent {
  cursor: initial;
}

.aa-FaqPreview p {
  margin-right: var(--aa-spacing);
}

.aa-FaqPreview a {
  color: #000;
  font-size: 0.9em;
}

.aa-FaqPreview h4,
.aa-FaqPreview h3 {
  margin: 0;
}

.aa-FaqPreview h3 {
  margin-top: var(--aa-spacing-half);
}

/* Media queries */
@media screen and (prefers-reduced-motion: reduce) {
  .aa-Item,
  .aa-PanelSection--products,
  .aa-ProductItem .aa-ItemPictureBlurred,
  .aa-ProductItem .aa-ItemFavorite,
  .aa-QuickAccessItem--help a {
    transition: none;
  }
}

@media screen and (max-width: 1024px) {
  .aa-PanelSection--products .aa-List {
    grid-template-columns: repeat(2, 1fr);
  }

  .aa-PanelSection--left {
    width: 40%;
  }

  .aa-PanelSection--right {
    width: 60%;
  }

  .aa-PanelSection--quickAccess .aa-Item:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  /* Common */
  .aa-SourceHeader {
    display: none;
  }

  /* Panel section */
  .aa-PanelSections {
    flex-direction: column;
    row-gap: var(--aa-spacing);
  }

  .aa-PanelSection--left,
  .aa-PanelSection--right {
    width: 100%;
  }

  /* Products */
  .aa-PanelSection--products .aa-List {
    display: flex;
    flex-wrap: wrap;
    gap: var(--aa-spacing-half);
  }

  .aa-PanelSection--products .aa-Item {
    width: calc(50% - var(--aa-spacing-half) / 2);
  }

  .aa-ProductItem .aa-ItemFavorite {
    opacity: 1;
  }

  /* Articles */
  .aa-PanelSection--articles .aa-List {
    flex-wrap: wrap;
    gap: var(--aa-spacing-half);
  }

  .aa-PanelSection--articles .aa-Item {
    width: 100%;
  }

  /* Quick access */
  .aa-PanelSection--quickAccess .aa-List {
    overflow: auto;
    scroll-snap-type: x;
  }

  .aa-PanelSection--quickAccess .aa-Item {
    min-width: 40vw;
    scroll-snap-align: start;
    padding: 0;
  }

  .aa-PanelSection--quickAccess .aa-Item:nth-child(3) {
    display: block;
  }
}

/* Keyframes */
@keyframes loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
