.aa-RecentSearchesItem {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.aa-RecentSearchesItem .leftItems {
  display: flex;
}

.aa-RecentSearchesItem .removeButton {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.8;
}

.aa-RecentSearchesItem .removeButton:hover {
  opacity: 1;
  color: #000;
}
